@-webkit-keyframes fade {
	0% { opacity:0; -webkit-transform:translate(180px,60px) scale(2.00); }
	15% { opacity:1; -webkit-transform:translate(80px,160px) scale(1.80); }
	30% { opacity:0.5; -webkit-transform:translate(40px,80px) scale(1.40); }
	40% { opacity:0; -webkit-transform:translate(0px,0px) scale(1.00); }
	100% { opacity:0; }
}
@-moz-keyframes fade {
	0% { opacity:0;-moz-transform:translate(180px,60px) scale(2.00);  }
	15% { opacity:1;-moz-transform:translate(80px,160px) scale(1.80); }
	30% { opacity:0.5;-moz-transform:translate(40px,80px) scale(1.40); }
	40% { opacity:0;-moz-transform:translate(0px,0px) scale(1.00); }
	100% { opacity:0; }
}

#CSS3Slideshow, #CSS3Slideshow img 
{ position:absolute 
   
      
      
}
#CSS3Slideshow img 
{ opacity:0; -webkit-animation:fade 24s linear infinite; -moz-animation:fade 24s linear infinite;
}

#CSS3Slideshow
{
overflow:hidden;
top:0px;
left:0px;
width:600px;
height:480px;
margin-left:40px;
 margin-top:130px;
}

#CSS3Slideshow .img2 
{ -webkit-animation-delay:8s; -moz-animation-delay:6s;
}
#CSS3Slideshow .img3 
{ -webkit-animation-delay:12s; -moz-animation-delay:12s;
}
#CSS3Slideshow .img4 
{ -webkit-animation-delay:18s; -moz-animation-delay:18s;
}

#CSS3Slideshow .img5 
{ -webkit-animation-delay:24s; -moz-animation-delay:24s;
}
#CSS3Slideshow .img6 
{ -webkit-animation-delay:30s; -moz-animation-delay:30s;
}
#CSS3Slideshow .img7 
{ -webkit-animation-delay:36s; -moz-animation-delay:36s;
}
#CSS3Slideshow .img8 
{ -webkit-animation-delay:42s; -moz-animation-delay:42s;
}
#CSS3Slideshow .img9 
{ -webkit-animation-delay:48s; -moz-animation-delay:48s;
}
#CSS3Slideshow .img10 
{ -webkit-animation-delay:54s; -moz-animation-delay:54s;
}

#CSS3Slideshow .img11 
{ -webkit-animation-delay:60s; -moz-animation-delay:60s;
}
#CSS3Slideshow .img12 
{ -webkit-animation-delay:66s; -moz-animation-delay:66s;
}
#CSS3Slideshow .img13 
{ -webkit-animation-delay:72s; -moz-animation-delay:72s;
}
#CSS3Slideshow .img14 
{ -webkit-animation-delay:78s; -moz-animation-delay:78s;
}
#CSS3Slideshow .img15 
{ -webkit-animation-delay:84s; -moz-animation-delay:84s;
}
#CSS3Slideshow .img16 
{ -webkit-animation-delay:90s; -moz-animation-delay:90s;
}

#CSS3Slideshow .img17 
{ -webkit-animation-delay:96s; -moz-animation-delay:96s;
}
#CSS3Slideshow .img18 
{ -webkit-animation-delay:102s; -moz-animation-delay:102s;
}
#CSS3Slideshow .img19 
{ -webkit-animation-delay:108s; -moz-animation-delay:108s;
}
#CSS3Slideshow .img20 
{ -webkit-animation-delay:114s; -moz-animation-delay:114s;
}
#CSS3Slideshow .img21 
{ -webkit-animation-delay:120s; -moz-animation-delay:120s;
}
#CSS3Slideshow .img22 
{ -webkit-animation-delay:126s; -moz-animation-delay:126s;
}

#CSS3Slideshow .img23 
{ -webkit-animation-delay:132s; -moz-animation-delay:132s;
}
#CSS3Slideshow .img24 
{ -webkit-animation-delay:138s; -moz-animation-delay:138s;
}
#CSS3Slideshow .img25 
{ -webkit-animation-delay:144s; -moz-animation-delay:144s;
}
#CSS3Slideshow .img26 
{ -webkit-animation-delay:148s; -moz-animation-delay:148s;
}
#CSS3Slideshow .img27 
{ -webkit-animation-delay:154s; -moz-animation-delay:154s;
}
#CSS3Slideshow .img28 
{ -webkit-animation-delay:160s; -moz-animation-delay:160s;
}

#CSS3Slideshow .img29 
{ -webkit-animation-delay:166s; -moz-animation-delay:166s;
}
#CSS3Slideshow .img30 
{ -webkit-animation-delay:172s; -moz-animation-delay:172s;
}
#CSS3Slideshow .img31 
{ -webkit-animation-delay:178s; -moz-animation-delay:178s;
}
#CSS3Slideshow .img32 
{ -webkit-animation-delay:184s; -moz-animation-delay:184s;
}
#CSS3Slideshow .img33 
{ -webkit-animation-delay:190s; -moz-animation-delay:190s;
}
#CSS3Slideshow .img34 
{ -webkit-animation-delay:196s; -moz-animation-delay:196s;
}

#CSS3Slideshow .img35 
{ -webkit-animation-delay:202s; -moz-animation-delay:202s;
}
#CSS3Slideshow .img36 
{ -webkit-animation-delay:208s; -moz-animation-delay:208s;
}
#CSS3Slideshow .img37 
{ -webkit-animation-delay:214s; -moz-animation-delay:214s;
}
#CSS3Slideshow .img38 
{ -webkit-animation-delay:220s;-moz-animation-delay:220s;
}
#CSS3Slideshow .img39 
{ -webkit-animation-delay:226s; -moz-animation-delay:226s;
}
#CSS3Slideshow .img40 
{ -webkit-animation-delay:232s; -moz-animation-delay:232s;
}

#CSS3Slideshow .img41 
{ -webkit-animation-delay:238s; -moz-animation-delay:238s;
}
#CSS3Slideshow .img42 
{ -webkit-animation-delay:244s; -moz-animation-delay:244s;
}
#CSS3Slideshow .img43 
{ -webkit-animation-delay:250s; -moz-animation-delay:250s;
}
#CSS3Slideshow .img44 
{ -webkit-animation-delay:256s; -moz-animation-delay:256s;
}
#CSS3Slideshow .img45 
{ -webkit-animation-delay:262s; -moz-animation-delay:262s;
}
#CSS3Slideshow .img46 
{ -webkit-animation-delay:268s; -moz-animation-delay:268s;
}

#CSS3Slideshow .img47 
{ -webkit-animation-delay:274s; -moz-animation-delay:274s;
}
#CSS3Slideshow .img48 
{ -webkit-animation-delay:280s; -moz-animation-delay:280s;
}
#CSS3Slideshow .img49 
{ -webkit-animation-delay:286s; -moz-animation-delay:286s;
}
#CSS3Slideshow .img50 
{ -webkit-animation-delay:292s; -moz-animation-delay:292s;
}
#CSS3Slideshow .img51 
{ -webkit-animation-delay:298s; -moz-animation-delay:298s;
}
#CSS3Slideshow .img52 
{ -webkit-animation-delay:304s; -moz-animation-delay:304s;
}

#CSS3Slideshow .img53 
{ -webkit-animation-delay:310s; -moz-animation-delay:310s;
}
#CSS3Slideshow .img54 
{ -webkit-animation-delay:316s; -moz-animation-delay:316s;
}
#CSS3Slideshow .img55 
{ -webkit-animation-delay:322s; -moz-animation-delay:322s;
}
#CSS3Slideshow .img56 
{ -webkit-animation-delay:328s; -moz-animation-delay:328s;
}
#CSS3Slideshow .img57 
{ -webkit-animation-delay:334s; -moz-animation-delay:334s;
}
#CSS3Slideshow .img58 
{ -webkit-animation-delay:340s; -moz-animation-delay:340s;
}

#CSS3Slideshow .img59 
{ -webkit-animation-delay:346s; -moz-animation-delay:346s;
}
#CSS3Slideshow .img60 
{ -webkit-animation-delay:352s; -moz-animation-delay:352s;
}
#CSS3Slideshow .img61 
{ -webkit-animation-delay:358s; -moz-animation-delay:358s;
}
#CSS3Slideshow .img62 
{ -webkit-animation-delay:364s; -moz-animation-delay:364s;
}
#CSS3Slideshow .img63 
{ -webkit-animation-delay:370s; -moz-animation-delay:370s;
}
#CSS3Slideshow .img64 
{ -webkit-animation-delay:376s; -moz-animation-delay:376s;
}
#CSS3Slideshow .img65 
{ -webkit-animation-delay:382s; -moz-animation-delay:382s;
}
#CSS3Slideshow .img66 
{ -webkit-animation-delay:388s; -moz-animation-delay:388s;
}
#CSS3Slideshow .img67 
{ -webkit-animation-delay:394s; -moz-animation-delay:394s;
}

#CSS3Slideshow .img68 
{ -webkit-animation-delay:400s; -moz-animation-delay:400s;
}
#CSS3Slideshow .img69 
{ -webkit-animation-delay:406s; -moz-animation-delay:406s;
}
#CSS3Slideshow .img70 
{ -webkit-animation-delay:412s; -moz-animation-delay:412s;
}

#CSS3Slideshow .img71 
{ -webkit-animation-delay:418s; -moz-animation-delay:418s;
}
#CSS3Slideshow .img72 
{ -webkit-animation-delay:424s; -moz-animation-delay:424s;
}
#CSS3Slideshow .img73 
{ -webkit-animation-delay:430s; -moz-animation-delay:430s;
}
#CSS3Slideshow .img74 
{ -webkit-animation-delay:436s; -moz-animation-delay:436s;
}
#CSS3Slideshow .img75 
{ -webkit-animation-delay:442s; -moz-animation-delay:442s;
}

#CSS3Slideshow .img76 
{ -webkit-animation-delay:448s; -moz-animation-delay:448s;
}
#CSS3Slideshow .img77 
{ -webkit-animation-delay:454s; -moz-animation-delay:454s;
}
#CSS3Slideshow .img78 
{ -webkit-animation-delay:460s; -moz-animation-delay:460s;
}
