﻿
#menue
{	width:1586px;
	margin:0px;
	padding:2px;
	text-align:center;

	
}

#menue li
{
	width:200px;
	
	list-style:none;
	float:left;
	position:relative;
	margin:0px;
	padding:0px;
	
	
}

#menue li ul
{	
	
	margin:0px;
	padding:50px;
	position:absolute;
	left:0px;
	top:25px;
	display:none;
	
	margin-right:500px;
	text-align:center;

}


#menue ul li a
{
	text-decoration:none;
	
	 font-weight:bold;
	 width:145px;
	 text-align:center;
	
	color:black;
}	
#menue ul li a:hover
{	
	color:black;
	

}


ul#menu li#liste a:hover 
{
    color:white;
    font-weight:bold;
    display:block;
    margin-left:100px;
   
    }
li#liste a:hover
{
	 color:white;
    font-weight:bold;
    display:block;

}

li#liste2 a:hover
{
	 
    font-weight:bold;
    display:block;

}


ul{
	width:1200px;
	
}

li{	
	display:block;
	float:left;
	width:200px;
	height:58px;
	text-align:center;
	line-height:58px;
	color:white;
	
	
	
	background-image:url('../pixx/btn200.png');
}

li:hover{
	background-image:url('../pixx/btn200_hover.png');
	color:black;
	display:block;
	}
ul#untermenue
	{
	display:none;
	}
	ul#untermenue li#unterpunkt:hover 
	 {
		display: block;
	}
.trigger
{
	display:block;

}
#menue a
{
	display:block;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration:none;
	color:white;
	font-weight:bolder;
	
}
#menue a:hover
{
	color:white;
	
	width:150px;
	
	
}


.sub
{
	background-image:url('../pixx/buttonUnter.png');background-repeat:no-repeat;
	color:black;
}

.sub:hover
{
	background-image:url('../pixx/buttonUnter.png');background-repeat:no-repeat;
		color:black;
}

#liste 2 a:hover
{
		color:black;
}

#auswahl
{
	width:400px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('../pixx/jogger.jpg');background-repeat:no-repeat;
	border-color:black;
	border-style:ridge;
	border-width:medium;
	
}

#ich
{
	background-image:url('../pixx/buttonFotoAuswahl.png');
}