﻿body
{	width:1400px;
	height:1000px;
	background-color:#000000;
	
}


#main
{
	width:1300px;
	height:800px;
	
	margin-left:280px;
	
	top:50px;
	position:absolute;
	

	

        
}
#tab

{
	width:50px;
	height:20px;
	margin-left:200px;
	border-color:black;
	border-style:double;
	border-width:medium;
	background-color:grey;
}
.results
{
     width:auto;
    height:auto;
    border-color:#000;
    border-width:thick;
    border-style:double;
  margin-left:550px;
    margin-top:50px;
    margin-right:40px;
    background-color:#ccc;
    text-align: center;
}


#welcome{
    color:#D2E0E6;
    font-family:fantasy;
    font-style:oblique;
    margin-left:600px;
}
#copyright{
    color:#D2E0E6;
    font-family:fantasy;
    font-style:oblique;
   padding-top:300px;
   margin-left:500px;
}
#394809
{
 padding-top:500px;
 margin-left:1000px;
 
}

#main2
{
	width:1300px;
	height:1000px;
	background-color:#999999;
	margin-left:280px;
	
	top:50px;
	position:absolute;
	border-color:ThreeDShadow;
	border-width:medium;
	border-color:black;
	border-bottom-style:groove;
	border-left-style:double;
	border-right-style:double;
	border-top-style:groove;

	
	
}



#header
{
	width:1300px;
	height:300px;
	margin-left:170px;
	margin-right:auto;
	border:thick;
	border-color:black;
	

}

#content
{
	width:1300px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	
}

.text
{
	background-color:gray;
}

#hintergrund
{
	background-color:#3333CC;
	width:1300px;
	height:800px;
		

}

.ausgabe table
{
	border:solid 1px;

	border:thick;
	
	border-color:black;
	background-color:gray;
	
	border-collapse:separate;

}

.ausgabe tr
{
	padding:10px;
	border:solid 1px;
	border:thick;
	
	border-color:black;
	
	background-color:gray;
	border-style:groove;
	border-style:double;
	
}

.ausgabe td
{
	padding:10px;
	border:solid 1px;

	border:thick;
		border-style:groove;
	border-style:double;

	border-color:black;
	background-color:gray;
}


	
.ausgabe
{
	margin-left:auto;
	margin-right:auto;
}

	.name
	{
	border:thick;
	border-style:groove;
	border-color:ThreeDDarkShadow;
	border-color:black;
}
	.email
	{
	border:thick;
	border-style:groove;
	border-color:ThreeDDarkShadow;
	border-color:black;
}


	.eintrag
	{
	border:thick;
	border-style:groove;
	border-color:ThreeDDarkShadow;
	border-color:black;
	background-color:ThreeDShadow;
	width:400px;
	height:150px;
}

#slider
{	
	margin-left:400px;
	
	width:600px;
	height:auto;
	border:thick;
	border-color:black;
	border-style:double;
	border-style:groove;
	

}


#shaunitext
{text-align:center;
font-family:"Comic Sans MS";
font-size:medium;
}
	
#videotext
{
font-family:"Calibri Light";
color:white;
font-size:medium;
font-weight:bolder;
margin-left:50px;



}

#passtext
{
	text-align:center;
	font-family:"Courier New", Courier, monospace;
font-weight:bolder;
margin-left:300px;
color:HighlightText;

}

#buchtext
{
text-align:center;
	font-family:"Courier New", Courier, monospace;
font-weight:bolder;
margin-left:300px;
color:HighlightText;

}
#download
{

	font-family:"Courier New", Courier, monospace;
font-weight:bolder;
color:black;


}


#runningtext
{
		font-family:"Courier New", Courier, monospace;
font-weight:bolder;
color:white;
text-align:center;


}

#run
{
float:left;

padding-left:10px;


}
#pass
{
	float:right;
	padding-right:50px;
}


#fotoseitetext
{

font-family:"Courier New", Courier, monospace;
font-weight:bolder;
text-align:center;
color:HighlightText;
}
#pfeil
{
	margin-left:50px;

}
.slider-wrapper
{
	margin-bottom:500px;
}

#impressum
{
	margin-left:550px;
}

#kontakt
{
	width:200px;
	height:50px;
	border:thick;
	border-color:black;
	border-style:double;
	border-style:groove;
	border-color:ButtonHighlight;
	

}
#runningtabelle
{
visibility:hidden;

	border:solid 1px;

	border:thick;
	
	border-color:black;
	background-color:gray;
	border-style:double;
	border-collapse:separate;
	
	
	height:auto;
        margin-left:500px;
	
}

.run
{
	margin-left:auto;
	margin-right:auto;

	
	border:solid 1px;

	border:thick;
	
	border-color:black;
	background-color:gray;
	border-style:double;
	border-collapse:separate;
	width:50%;
	
	height:auto;
	
}



.tab
{
	border:solid 1px;

	border:thick;
	
	border-color:black;
	background-color:gray;
	border-style:double;
	border-collapse:separate;
	
}


.tabtr
{
	padding:10px;
	border:solid 1px;
	border:thick;
	
	border-color:black;
	
	background-color:silver;
	border-style:groove;
	border-style:double;
	width:50px;
	font-style:italic;
	
	
}

.tabtd 
{
	padding:10px;
	border:solid 1px;

	border:thick;
		border-style:groove;
	border-style:double;

	border-color:black;
	background-color:silver;
	font-style:oblique;
	font-weight:bold;
}

.tabtd2 
{
	padding:10px;
	border:solid 1px;

	border:thick;
		border-style:groove;
	border-style:double;

	border-color:black;
	background-color:silver;
}

#select
{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	
}
#in
{
	width:150px;
	height:50px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	border:thick;
	
	border-style:groove;
	border-color:black;
	border-color:ThreeDDarkShadow;
	border-style:ridge;
	background-color:HighlightText;
	background-color:silver;
}

#out
{
	width:150px;
	height:50px;
	
	margin-left:auto;
	margin-right:auto;
	border:thick;
	
	border-style:groove;
	border-color:black;
	border-color:ThreeDDarkShadow;
	border-style:ridge;
	background-color:HighlightText;
	background-color:silver;

	
}
#zurueck
{
	background-image:url('../pixx/Zuruck-Button.jpg');
	width:100px;
	height:37px;
	margin-top:100px;
}

#insert1
{
	width:400px;
	height:200px;
	float:right;
	

}



#outeintrag
{
	width:150px;
	height:80px;

	margin-left:auto;
	margin-right:auto;
	border:thick;
	
	border-style:groove;
	border-color:black;
	border-color:ThreeDDarkShadow;
	border-style:ridge;
}



#auswahl
{
	width:200px;
	height:auto;
	margin-right:200px;
}

#werte
{
	margin-bottom:300px;
	padding-right:50px;
}
#text
{
	color:white;
	margin-left:500px;
	
}

#success
{
	background-color:black;
	width:1200px;
	height:700px;
	margin-left:250px;
	margin-top:20px;
	}
	
#zurueck2
{
	margin-left:500px;
	background-image:url('../pixx/Zuruck-Button.jpg');
	width:100px;
	height:37px;

}

#runningtabelle
{
	width:300px;
	height:auto;


}
#auswahl
{

     margin-left:auto;
	 text-align: center;
	margin-right:auto;
	width:1200px;
	height:600px;

}

#maingallery
{
	width:1400px;
	height:800px;
	
	margin-left:250px;
	padding-top:100px;

	background-color:#808080;

}

#boxa
{
	
	position: absolute;
	 left: 500px;
	  top: 50px; 
	  width: 150px; 
	  
	  height: 150px;	
	text-align:center;
		
}	
	

#boxb
{
	
	position: absolute; 
	left: 200px; 
	top: 50px; 
	width: 150px; 
	height: 150px;	
	text-align:center;

	
	
	
	
}

#boxc
{
	
	position: absolute; 
	left: 400px; 
	top: 50px;
	 width: 150px; 
	 height: 150px;
		text-align:center;
}
	
#box1
{	
width: 250px;
float: left;
padding-left:200px;
margin-top:150px;
	
}

#box2
{

width: 250px;
float: right;
padding-right:120px;
margin-top:150px;

}

#box3
{
	width: 500px;
	padding-left:550px;
	margin-top:150px;
}


#box4
{
	float:right;
	padding-right:100px;
}




#fototext
{
    
     color:#D2E0E6;
 
  
    font-family:fantasy;

}
#mondtext1
{
	text-align:center;
	font-family:fantasy;
     
    color:#D2E0E6;
 
  

}
#insert1{
  margin-right:350px;
  margin-top:50px;
}

#link{
     color:#D2E0E6;
}
#about_meText{
    background-color:#cccccc;
    
}


#mondtext2
{
	text-align:center;
	font-family:fantasy;
	font-size:large;
         color:#D2E0E6;
 
   

}


#luna{
	width:1000px;
	height:800px;
	background-color:black;
	z-index:2;
	margin-left:auto;
	margin-right:auto;
	
	
	
}
#pdf
{
	float:left;	
	text-align:center;
}

#pdfname
{
	text-align:left;
	margin-top:50px;
}

#back
{
	margin-top:200px;
	margin-left:200px;
}

#cv
{
	font-weight:bolder;
	text-decoration:underline;
	
}

#pass
{
	margin-left:300px;
	}
	
#maincv
{
	width:1300px;
	height:820px;
	background-color:#999999;
	margin-left:280px;
	
	top:50px;
	position:absolute;
	border:medium;
	border-color:white;
	border-style:double;
	

	
	
}

#ich
	{
	width:1000px;
	height:800px;
	background-color:black;
	z-index:2;
	margin-left:auto;
	margin-right:auto;
	
	
	
}

#mond
{
	border-color:ThreeDLightShadow;
	border-top-width:medium;
	border-style:double;
}



#farbe
{
	color:white;
	background-color:silver;
	font-size:large;
	font-weight:bolder;
	border-color:black;
	border-width:medium;
	border-style:groove;
}

#userdaten
{	width:100px;
	height:70px;
	margin-left:200px;
	border-color:black;
	border-style:double;
	border-width:medium;
	background-color:#FFCCFF;	
}


#tab

{
	width:50px;
	height:20px;
	margin-left:200px;
	border-color:black;
	border-style:double;
	border-width:medium;
	background-color:grey;
}


#nutzer
{
	width:50px;
	height:20px;
	margin-left:200px;
	border-color:black;
	border-style:double;
	border-width:medium;
	background-color:silver;
}


#foto

{
    width:200px;
    height:150px;
   
}

#table

{
    margin-left:710px;
    text-align:center;
    width:450px;
    height:auto;
   
     border-color:black;
    border-style:dotted;
	border-width:medium;
        background-color:threedlightshadow;
    margin-top:100px;
}

#ud
{
    margin-left:130px;
    margin-top:80px;
    border-color:black;
	border-style:double;
	border-width:medium;
	background-color:threedshadow;
        

}
#container{
	position:absolute;
	left:0px;
	top:0px;
	z-index: 0;
}

.blitz{
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	z-index: 1;
}