﻿	


#menue
{	width:786px;
	margin:0px;
	padding:0px;
	text-align:center;
	
}

#menue li
{
	width:180px;
	
	list-style:none;
	float:left;
	position:relative;
	margin:0px;
	padding:0px;
	background-color:#3366FF;
	
}

#menue li ul
{	
	
	margin:0px;
	padding:0px;
	position:absolute;
	left:0px;
	top:25px;
	display:none;
	
}

#menue li:hover ul

{	
	display:block;
}

#menue li ul li
{
	float:none;
	display:block;
	margin-bottom:0px;
}

#menue a
{
	display:block;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration:none;
	color:black;
	font-weight:bolder;
}

#menue a:hover
{
	color:white;
	background-color:#666699;
	width:150px;
}